body {
  background-color: hsl(0, 0%, 95%);
  display: flex;
}

.container {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  height: auto;
}

.card1 {
  background-color: hsl(31, 77%, 52%);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.card2 {
  background-color: hsl(184, 100%, 22%);
}

.card3 {
  background-color: hsl(179, 100%, 13%);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.card1,
.card2,
.card3 {
  display: flex;
  flex-direction: column;
}

.car-image {
  margin-left: 40px;
  margin-top: 30px;
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.car-type {
  font-family: "Big Shoulders Display", cursive;
  margin-left: 40px;
  font-size: 40px;
  color: hsl(0, 0%, 95%);
  margin-bottom: 30px;
}

.car-desc {
  font-family: "Lexend Deca", sans-serif;
  font-size: 15px;
  margin-left: 40px;
  margin-right: 40px;
  width: 210px;
  color: hsla(0, 0%, 100%, 0.75);
  line-height: 25px;
}

button {
  font-family: "Lexend Deca", sans-serif;
  border-radius: 50px;
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: hsl(0, 0%, 95%);
  cursor: pointer;
}

.button {
  margin-top: 70px;
  margin-bottom: 35px;
  margin-left: 40px;
}

.button1 {
  color: hsl(31, 77%, 52%);
}

.button2 {
  color: hsl(184, 100%, 22%);
}

.button3 {
  color: hsl(179, 100%, 13%);
}

.button1:hover,
.button2:hover,
.button3:hover {
  color: hsl(0, 0%, 95%);
  border-color: hsl(0, 0%, 95%);
  background-color: transparent;
  border-style: solid;
}

@media screen and (max-width: 900px) {
  .container {
    display: flex;
    flex-direction: column;
    height: 80%;
    padding-bottom: 900px;
    padding-top: 900px;
  }

  .card1 {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 0;
    border-top-right-radius: 5px;
  }

  .card3 {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 0;
  }
}
